# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Core dumps
core

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLang
.idea/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

build
vendor

nutbackend/nutbackend

