# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLang
.idea/
# remove this if you want to use go modules at some point
neo4j/go.mod
neo4j/go.sum

testkit/CAs/
testkit-backend/testkit-backend
test-stress/test-stress
benchmark/main
